<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="post">
      <div class="form-group mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Campground name"
        />
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="New York, New York"
        />
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          id="image"
          placeholder="https://example.com/"
        />
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="price-label">$</span>
          </div>
          <input
            class="form-control"
            type="text"
            name="campground[price]"
            id="price"
            placeholder="0.00"
            aria-describedby="price-label"
          />
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="location">Description</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
        ></textarea>
      </div>

      <div class="mb-3">
        <button class="btn btn-primary">Add Camp</button>
      </div>
    </form>

    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>
